# APP
NEXT_PUBLIC_APP_URL=

# AI
UPLIFT_API_KEY=
GOOGLE_API_KEY=

# WHATSAPP
WHATSAPP_API_KEY=
WHATSAPP_PHONE_ID=
WHATSAPP_BUSINESS_ID=
WHATSAPP_WEBHOOK_SECRET=

# DB
DATABASE_URL=
SUPABASE_PROJECT_PASS=
SUPABASE_ANON_PUBLIC_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_SERVICE_KEY=